@inherits LayoutComponentBase
@using Mall.Models

<BlazoredToasts />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
    </div>

    <CascadingValue Value="Jugador">
        <div class="content px-4">
            @Body
        </div>
    </CascadingValue>
</div>

@code{
    public Jugadores Jugador { get; set; } = Jugadores.Jugador;
}
