@page "/AfueraTienda"

<div class="form-group d-flex justify-content-center">
    <h5>Lobby Banco</h5>
</div>

<div class="form-group d-flex justify-content-center">
    <a class="btn btn-primary" href="@("Tienda")">Entrar a la Tienda</a>
</div>

<div class="form-group d-flex justify-content-center">
    <img src="../Resources/afueraTienda.jpg" style="width:70%; height:400px" />
</div>

<div class="form-group d-flex justify-content-center">
    <a class="btn btn-primary" href="@("Pasillo2")">Ir al Pasillo</a>
</div>