@page "/Pasillo2"

<div class="form-group d-flex justify-content-center">
    <h5>Pasillo</h5>
</div>

<div class="form-group">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" href="@("AfueraBanco")">Ir al Banco</a>
        </div>
        <div class="col-6">
            <img src="../Resources/pasillo3.jpg" style="width:70%; height:400px" />
        </div>
        <div class="col-2">
            <a class="btn btn-primary" href="@("AfueraTienda")">Ir a la Tienda</a>
        </div>
    </div>
</div>

<div class="form-group d-flex justify-content-center">
    <a class="btn btn-primary" href="@($"Ascensor/{2}")">Entrar al Ascensor</a>
</div>
